<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rental Car App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/login">Login</button>
  <button mat-raised-button color="primary" routerLink="/signup">Sign Up</button>
</mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
<mat-toolbar >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rental Car App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
  <button mat-raised-button color="primary" >Logout</button>
</mat-toolbar>
</div>
<div *ngIf="isCustomerLoggedIn">
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rental Car App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</button>
  <button mat-raised-button color="primary" >Logout</button>
</mat-toolbar>
</div>
<router-outlet></router-outlet>